<h2>Baked by {{ queriedCake.baker }}</h2>
<div class="row">

  <div class="col s6">
      <img (click)="getCake(cake._id)"  width="550px" height="550px" src="{{ queriedCake.image }}" alt="Picture of a cake">
  </div>

  <div style="height: 550px; overflow: scroll;" class="col s5">
      <h5>Average rating: {{ averageRating }} stars</h5>
      <hr>
      <div *ngFor="let rating of queriedCake.ratings" >
        <p>{{rating.comment}}</p>
        <p>{{rating.rating}} stars</p>
        <hr>
      </div>
  </div>

</div>