<a style="margin-right: 20px" [routerLink]="['']">Home</a>
<a [routerLink]="['/write/',author._id]">Add a quote</a>
<p>Quotes by {{ author.name }}:</p>
<table class="striped centered">
  <thead>
    <tr>
        <th>Author</th>
        <th>Votes</th>
        <th>Actions available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of author.quotes">
        <td>{{ quote.content }}</td>
        <td>{{ quote.vote }}</td>
        <td>
          <button style="margin-right: 5px" class="btn cyan darken-1" (click)="voteUp(quote.content)">Vote Up</button>
          <button style="margin-right: 5px" class="btn amber darken-1" (click)="voteDown(quote.content)">Vote Down</button>
          <button style="margin-right: 5px" class="btn red darken-1" (click)="deleteAuthorQuote(author._id, quote.content)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>
