<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <div style="margin-top: 25px; padding: 20px; border-radius: 25px; border: 10px solid #fb8c00;" class="container orange lighten-2 ">
        <div style="text-align: center;">
            <h2>All People</h2>
        </div>
        <ul>
            <% for ( var x of peoples ) { %>
                <p><%= x %></p>
            <% } %>
        </ul>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>